
<html>
<head>
    <title>Act2. Roles de usuario</title>
    <link href="~/StyleSheet.css" rel="stylesheet">
    <link href="~/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>ITESRC. Control de grupos</h1>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <p>
            Programación Web U4 Actividad 2. Roles de usuario. Pagina elaborada por: Estefania Pichardo Montes
        </p>
    </footer>
</body>
</html>