
<html>
    <head>
        <title>Control de cuentas de usuario</title>
        <link href="~/StyleSheet.css" rel="stylesheet">
        <link href="~/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Music+ Toda tu musica en un mismo lugar</h1>
        </header>
        <main>
            @RenderBody()
        </main>
 
        <footer>Programación Web U4. Pagina elaborada por: Estefania Pichardo Montes</footer>

    </body>
</html>