@model Actividad2RolesDeUsuario.Models.ViewModels.AgregarAlumnoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h2>Agregar alumno a este grupo</h2>
@if (User.IsInRole("Director"))
{
    <h2>Grupo del docente @((Model.Docente.Nombre!=null)? Model.Docente.Nombre : "Docente")</h2>
}
else if (User.IsInRole("Docente"))
{
    <h2>Grupo del docente @User.Claims.FirstOrDefault(x=>x.Type=="Nombre Completo").Value</h2>
}
<section class="formulario">
    <form method="post" action="~/Home/AgregarAlumno">

        <label>Numero de control:</label>
        <input type="text" asp-for="Alumno.NumControl" required /><br />

        <label>Nombre:</label>
        <input type="text" asp-for="Alumno.Nombre" required /><br />

        <label>Clave del docente:</label>
        <input type="number" asp-for="Docente.Clave" readonly /><br />

        <input type="submit" value="Agregar" /><br />

        @if (User.IsInRole("Director"))
        {
            <a href="~/Home/Alumnos/@Model.Docente.Id">
                <input type="button" value="Cancelar" />
            </a>
        }
        else if (User.IsInRole("Docente"))
        {
            <a href="~/Home/Alumnos/@(int.Parse(User.Claims.FirstOrDefault(x=>x.Type=="IdDocente").Value))">
                <input type="button" value="Cancelar" />
            </a>
        }


        @Html.ValidationSummary()
    </form>
</section>