@model Actividad2RolesDeUsuario.Models.Docente
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h2>Agregar un nuevo docente</h2>
<section class="formulario">
    <form method="post" action="~/Home/AgregarDocente">
        <label>Clave:</label>
        <input type="number" asp-for="Clave" required /><br />
        <label>Nombre completo:</label>
        <input type="text" asp-for="Nombre" required /><br />
        <label>Contraseña:</label>
        <input type="password" asp-for="Contraseña" required /><br />

        <input type="submit" value="Agregar" /><br />
        <a href="~/Home/VerDocentes">
            <input type="button" value="Cancelar" />
        </a>

        @Html.ValidationSummary()
    </form>
</section>