
@{
    Layout = "_Layout";

}
<h2>Bienvenido al portal, inicia sesion para continuar</h2>

<div class="contenedor">
    <a href="~/Home/IniciarSesionDirector">
        <input type="button" value="Iniciar Sesion como director" />
    </a>
    <a href="~/Home/IniciarSesionDocente">
        <input type="button" value="Iniciar sesion como docente" />
    </a>
</div>

