@{
    Layout = "_Layout";
}

@if (User.IsInRole("Director"))
{
    <div class="contenedor">
        <form>
            <h3>¡Bienvenido director @User.Claims.FirstOrDefault(x => x.Type == "Nombre Completo").Value!</h3>

            <a href="~/Home/VerDocentes">
                <input type="button" value=" Ver lista de docentes" />
            </a>

            <a href="~/Home/CerrarSesion" id="CerrarSesion">
                <input type="button" value="Cerrar sesion" />
            </a>

        </form>
    </div>
}
@if (User.IsInRole("Docente"))
{
    <div class="contenedor">
        <form>
            <h3>¡Bienvenido docente @User.Claims.FirstOrDefault(x => x.Type == "Nombre Completo").Value!</h3>

            <a href="~/Home/Alumnos/@(int.Parse(User.Claims.FirstOrDefault(x=>x.Type=="IdDocente").Value))" class="botonesEntrada">
                <input type="button" value="Ver lista de alumnos"/>
            </a>

            <a href="~/Home/CerrarSesion" id="CerrarSesion">
                <input type="button" value="Cerrar sesion" />
            </a>

        </form>
    </div>
}

