@{
    Layout = "_Layout";

}

<h2>Acceso denegado, no tiene autorizacion para ingresar, porfavor inicie sesion</h2>

<section class="container">
    <a href="~/Home/IniciarSesion" style="margin:auto"></a>
</section>