
@{
    Layout = "_Layout";
}


<h2>Cambiar contraseña</h2>

<section class="formulario">
    <form>
        <label>Contraseña nueva:</label>
        <input type="password" required /><br />
        <label>Confirma tu nueva contraseña:</label>
        <input type="password" required /><br />
        <input type="submit" value="Cambiar Contraseña" />
    </form>
</section>


