
@{
    Layout = "_Layout";

}
<h2>Bienvenido al portal, selecciona que deseas hacer a continuación</h2>

<div class="formulario">
    <a href="~/Home/IniciarSesion">
        <input type="button" value="Iniciar Sesion"/>
    </a>
    <a href="~/Home/Registrar">
        <input type="button" value="Registrarme" />
    </a>
</div>
