@model Actividad1CuentasDeUsuario.Models.Usuario
@{
    Layout = "_Layout";
}

<h2>Inicia sesión</h2>
<section class="formulario">
    <form method="post" action="~/Home/IniciarSesion">
        <label>Correo Electónico:</label>
        <input type="email"  name="Correo"/><br />
        <label>Contraseña:</label>
        <input type="password" name="Contraseña"/><br />


        <input type="submit" value="Entrar" /><br />
        <input type="checkbox" id="recordar" class="RecordarDatos" />
        <label for="recordar" id="etiquetaRecordar">Recordar mis datos</label><br />
        <label id="terminos">
            Al continuar aceptas los
            <a href="">Terminos y condiciones</a>
            y el <a href="">Aviso de privacidad</a> de Music+
        </label>
    </form>
    <div class="crear">
        <p>Aun no tienes una cuenta? <a href="Registrar">Crea una aqui</a></p>
        <p>Olvidaste tu contraseña? <a href="RecuperarContraseña">Haz click aqui para recuperarla</a></p>
    </div>
</section>
@*<h2>Inicio de sesión</h2>
<div>
    <form>
        <label>Correo electrónico:</label>
        <input type="email" required /><br />
        <label>Contraseña:</label>
        <input type="password" required /><br />
        <input type="submit" value="Iniciar Sesión" />
    </form>
    <p>Aun no tienes una cuenta? <a href="Index">Crea una aqui</a></p>
    <p>Olvidaste tu contraseña? <a href="RecuperarContraseña">Haz click aqui para recuperarla</a></p>
</div>*@
